RABBITMQ_HOST = "${RABBITMQ_HOST}"
RABBITMQ_USER = "${RABBITMQ_USER}"
RABBITMQ_PASSWORD = "${RABBITMQ_PASSWORD}"
TARGET_VHOST = "/"
TARGET_QUEUE = "poc-1"
SEND_DELAY = 1
SEND_KEEP_CONNECTION = True
SEND_COUNTER_LIMIT = 0
SEND_FLAG = 2 # 1=counter; 2=milliseconds
CONSUME_QOS = 100
CONSUME_LOGFILE = ''
